.cart-heading {
    display: none;
}

.cart-header {
    display: none;
}

.cart-container {
    background-color: var(--clr-light);
    margin-top: 1.875rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid var(--clr-light-grey);
    border-radius: 10px;
}

.cart__checkout-container.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cart__checkout-container > :nth-child(2) {
    margin-top: 1rem;
}

.cart__checkout-container > div {
    display: none;
}


@media (min-width: 480px) {
    .cart-heading {
        display: flex;
        margin-top: 4.375rem;
    }
    
    .cart-header {
        display: flex;
        justify-content: space-around;
        /* width: 10%; */
    }

    .cart-price-qty-subtotal-container {
        display: flex;
        justify-content: space-around;
        /* width: 90%; */
    }

    .cart-container {
        background-color: var(--clr-white);
        margin-top: 1.875rem;
        border: 1px solid var(--clr-light-grey);
        border-radius: 10px 10px 0 0;
        border-bottom: none;
    }

    .delivery-order__container > div:nth-child(1) {
        display: flex;
        background-color: var(--clr-white);
        border: 1px solid var(--clr-light-grey);
        border-top: none;
        border-bottom: none;
    }

    .cart__checkout-container.container.mob {
        display: none;
    }

    .cart__checkout-container {
        background-color: var(--clr-white);
        border: 1px solid var(--clr-light-grey);
        border-radius: 0 0 10px 10px;
        border-top: none;
        padding-bottom: 3rem;
        margin-bottom: 3rem;

        /* display: flex;  */
        /* flex-direction: row-reverse; */
        /* flex-direction: column; */
        /* justify-content: end; */
    }

    .cart__checkout-container > div {
        display: grid;
        justify-content: end;
        margin-right: 3rem;
        padding-top: 2rem;
    }

    .cart__checkout-container > div > div {
        text-align: center;
        padding-top: 1rem;
    }
}



@media (min-width: 1280px) {
    .cart__checkout-container {
        display: flex;
        justify-content: end;
    }

    .cart__checkout-container > div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 33%;
    }

    .delivery-order__container > div {
        gap: 11rem;
    }
}