#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./font/Montserrat/Montserrat-Regular.ttf") format("truetype");
}